# Assignment 1

## Name: Laasya Ojaswini Bulusu
## Reg. no.: 20MIC0065
## Campus: VIT, Vellore

### Imports for the assignment

In [1]:
import numpy as np
import pandas as pd

## Task 1:
Create a pandas DataFrame (DataFrame name as 'df') with numpy random values (4 features and 4 observations).

In [2]:
# Create random values using NumPy
data = np.random.rand(4, 4)

# Create a Pandas DataFrame
df = pd.DataFrame(data)

print(df)

          0         1         2         3
0  0.024989  0.858540  0.716256  0.727743
1  0.111442  0.001523  0.636334  0.020450
2  0.698080  0.363163  0.642779  0.161563
3  0.915991  0.251707  0.094827  0.083190

## Task 2:
Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'.

In [3]:
# Changing the column name
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.024989        0.858540        0.716256        0.727743
1        0.111442        0.001523        0.636334        0.020450
2        0.698080        0.363163        0.642779        0.161563
3        0.915991        0.251707        0.094827        0.083190

## Task 3:
Find the descriptive statistics of the 'df' dataframe.

In [4]:
# Find descriptive statistics
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.437625        0.368733        0.522549        0.248236
std          0.437163        0.359852        0.287443        0.324841
min          0.024989        0.001523        0.094827        0.020450
25%          0.089829        0.189161        0.500958        0.067505
50%          0.404761        0.307435        0.639557        0.122376
75%          0.752558        0.487007        0.661148        0.303108
max          0.915991        0.858540        0.716256        0.727743

## Task 4:
Check for the null values in 'df' and find the data type of the columns.

In [5]:
# Check for null values
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [6]:
# Check for null values
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [7]:
# Find data type of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [8]:
# Find data type of columns
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

## Task 5:
Display the 'Random value 2' & "random value 3' columns with location method and index location method.

In [9]:
# Display 'Random value 2' and 'Random value 3' columns with location method
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.858540        0.716256
1        0.001523        0.636334
2        0.363163        0.642779
3        0.251707        0.094827

In [10]:
# Display 'Random value 2' and 'Random value 3' columns with index location method
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0        0.858540        0.716256
1        0.001523        0.636334
2        0.363163        0.642779
3        0.251707        0.094827